.abandoned-cart-detail {
    .sw-description-list {
        font-size: 15px;
        display: grid;
        grid-area: summary;
        grid-template-columns: 265px 1fr;
    }
    
    .sw-container {
        display: block;
    }

    .sw-card-view .sw-card-view__content .sw-card {
        max-width: 1100px !important;
    }

    .sw-card__content {
        max-width: none;
        width: 940px;
    }
    
    .sw-container .sw-order-detail__summary {
        text-align: right;
    }

    .abandoned-row {
        display: block;
    }

    .sw-container .sw-order-detail__summary dt, .sw-container .sw-order-detail__summary dd {
        line-height: 49px;
        border-bottom: 1px solid #D1D9E0;
        color: #52667A;
        font-weight: normal;
        text-align: right;
        padding: 0;
        width: 50%;
        float: left;
    }

    .sw-page__content {
        max-width: none;
        padding: 0 20px; // Minimal margin
    }

    .abandoned-cart-detail__content {
        width: 100%;
        max-width: none;
    }

    .sw-card-view {
        max-width: none;
        width: 100%;
    }

    .abandoned-cart-customer-link {
        color: var(--color-text-primary-default);
        text-decoration: none;
        font-weight: 600;
        
        &:hover {
            color: var(--color-shopware-brand-500);
            text-decoration: underline;
        }
    }
    .sw-container.sw-order-user-card__container, .sw-description-list {
        display: flex;
    }
}
